# Библиотеки

In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st

# Загрузка данных

In [29]:
train = pd.read_csv('../data/processed/data_after_EDA.csv', low_memory=False)

# Генерация новых признаков

In [30]:
train

,Month,Age,SSN,Monthly_Inhand_Salary,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,...,High_spent_Medium_value_payments,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,unknown,Bad,Good,NoData,Standard
0,1,23.0,821-00-0265,1824,4.0,3.0,7.0,11.27,4.0,809.98,...,0,1,0,0,0,0,0,0,1,0
1,2,23.0,821-00-0265,3093,4.0,0.0,0.0,11.27,4.0,809.98,...,0,0,1,0,0,0,0,1,0,0
2,3,33.0,821-00-0265,3093,4.0,3.0,7.0,9.40,4.0,809.98,...,0,0,0,1,0,0,0,1,0,0
3,4,23.0,821-00-0265,3093,4.0,5.0,4.0,6.27,4.0,809.98,...,0,0,0,0,1,0,0,1,0,0
4,5,23.0,821-00-0265,1824,4.0,6.0,0.0,11.27,4.0,809.98,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,078-73-5990,3359,2.0,23.0,7.0,11.50,3.0,502.38,...,0,0,0,0,0,0,0,0,1,0
99996,5,25.0,078-73-5990,3359,2.0,18.0,7.0,11.50,3.0,502.38,...,1,0,0,0,0,0,0,0,1,0
99997,6,25.0,078-73-5990,3359,2.0,27.0,6.0,11.50,3.0,502.38,...,0,0,0,0,0,0,0,1,0,0
99998,7,25.0,078-73-5990,3359,2.0,20.0,0.0,11.50,3.0,502.38,...,0,0,1,0,0,0,0,1,0,0
99999,8,25.0,078-73-5990,3359,2.0,18.0,6.0,11.50,3.0,502.38,...,0,0,0,0,0,1,0,1,0,0

In [31]:
train.columns

Index(['Month', 'Age', 'SSN', 'Monthly_Inhand_Salary', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Amount_invested_monthly', 'Monthly_Balance',
       'Credit_Score', 'NM', 'No', 'Yes', 'High_spent_Large_value_payments',
       'High_spent_Medium_value_payments', 'High_spent_Small_value_payments',
       'Low_spent_Large_value_payments', 'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments', 'unknown', 'Bad', 'Good', 'NoData',
       'Standard'],
      dtype='object')

### Создадим призна, отражающий изменнение ежемесячной зарплаты отностильно наименьшего значения для каждого клиента

In [32]:
train['Salary_Vector'] = train.groupby('SSN')['Monthly_Inhand_Salary'].rank()

In [33]:
train

,Month,Age,SSN,Monthly_Inhand_Salary,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,...,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,unknown,Bad,Good,NoData,Standard,Salary_Vector
0,1,23.0,821-00-0265,1824,4.0,3.0,7.0,11.27,4.0,809.98,...,1,0,0,0,0,0,0,1,0,2.0
1,2,23.0,821-00-0265,3093,4.0,0.0,0.0,11.27,4.0,809.98,...,0,1,0,0,0,0,1,0,0,5.5
2,3,33.0,821-00-0265,3093,4.0,3.0,7.0,9.40,4.0,809.98,...,0,0,1,0,0,0,1,0,0,5.5
3,4,23.0,821-00-0265,3093,4.0,5.0,4.0,6.27,4.0,809.98,...,0,0,0,1,0,0,1,0,0,5.5
4,5,23.0,821-00-0265,1824,4.0,6.0,0.0,11.27,4.0,809.98,...,0,0,0,0,0,0,1,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,078-73-5990,3359,2.0,23.0,7.0,11.50,3.0,502.38,...,0,0,0,0,0,0,0,1,0,4.5
99996,5,25.0,078-73-5990,3359,2.0,18.0,7.0,11.50,3.0,502.38,...,0,0,0,0,0,0,0,1,0,4.5
99997,6,25.0,078-73-5990,3359,2.0,27.0,6.0,11.50,3.0,502.38,...,0,0,0,0,0,0,1,0,0,4.5
99998,7,25.0,078-73-5990,3359,2.0,20.0,0.0,11.50,3.0,502.38,...,0,1,0,0,0,0,1,0,0,4.5
99999,8,25.0,078-73-5990,3359,2.0,18.0,6.0,11.50,3.0,502.38,...,0,0,0,0,1,0,1,0,0,4.5

### Сделаем то же самое для коэфицента использования кредитной картой

In [34]:
train['Credit_Card_Usage_Vector'] = train.groupby('SSN')['Credit_Utilization_Ratio'].rank()

### Удалим колонку с идентефикатором клиента, так как он нам больше не нужен. Вдобавок признак может сильно испортить качество модели, так как она начнет классифицировать пользователей относительно этой фичи

In [36]:
train = train.drop('SSN', axis=1)

# Сохраним данные

In [37]:
train.to_csv('../data/processed/featured_data.csv', index=False)